@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #f5f5f5;
  font-family: "Nunito", sans-serif;
}

form {
  width: 380px;
  background: #fff;
  box-shadow: 2px 2px 15px 0 #ddd;
  margin: 50px auto;
  text-align: center;
  border-radius: 5px;
  padding: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

label {
  font-size: 30px;
  font-weight: 700;
  display: block;
}

input#img {
  border: 1px solid #eee;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0 #eee;
  display: block;
  margin: 20px auto;
  cursor: pointer;
}

.submit {
  padding: 12px 35px;
  border: none;
  background: #fff;
  box-shadow: 3px 2px 15px 0 #ccc;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #777;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

input.submit:hover {
  color: #555;
  box-shadow: 0px 0px 5px 0 #ccc;
}

h1.danger {
  width: 500px;
  margin: auto;
  margin-bottom: 50px;
  background: #ff0000;
  padding: 30px;
  color: #ddd;
  border-radius: 10px;
}

h1.success {
  width: 500px;
  margin: auto;
  margin-bottom: 50px;
  background: #167e16;
  padding: 30px;
  color: #fff;
  border-radius: 10px;
}
